#image-input-button {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent; }

#image-input-wrapper {
  position: relative;
  display: inline-block;
  background-color: red;
  overflow: hidden; }

#image-input-hidden {
  position: absolute;
  top: 0;
  right: 0;
  opacity: 0;
  height: 100%;
  width: 100%; }

#root {
  margin: 10px;
  text-align: center;
  margin-bottom: 300px; }
  #root img {
    max-width: 400px;
    margin: auto; }
  #root canvas {
    width: 400px; }
  #root .color {
    width: 50px;
    height: 50px;
    margin: 5px;
    display: inline-block; }
  #root .colors {
    display: block;
    margin: auto 0; }
